/*-------------------------HEADER---------------------------------*/
.headerNoLoginCenter {
    max-height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.headNavPadding{
    padding: 10px;
}

.inputSize{
    max-height: 50px;
}

.headerNoLoginSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*-------------------------CARDS---------------------------------*/

.containerCard{
    width: 350px;
    height: 500px;
}

.containerCard:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front1,
.back1 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.45);
    position: absolute;
    backface-visibility: hidden;
}

.front1 {
    
}

.front1Imagem {
    max-height: 100%;
    max-width: 100%;
}

.back1 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
}