/*-------------------------CARDS---------------------------------*/

.selecao-cursos{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0.5rem;
}

.containerCard{
    width: 350px;
    height: 500px;
    overflow: hidden;
    padding: 1rem;
}

.containerCard:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: ease 1500ms;
    transform-style: preserve-3d;
    border-radius: 2rem;
}

.card_titulo{
    color: #FFF;
    display: flex;
    justify-content: center;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.45);
    position: absolute;
    backface-visibility: hidden;
    background-color: aqua;
}


.frontImagem {
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    color: white;
}