body {
    background-color: #26272b;
    max-width: 99vw;
}

.container_letras{
    margin-top: 4rem;
    position:relative;
    left: 10vw;
    width: 80vw;
}

.container_letras ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container_letras ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_letras li {
    display: block;
    width: 6rem;
    height: 6rem;
    text-align: center;
    align-content: center;
    margin: 1rem 2rem 1rem 2rem;
    font-size: 3em;
    border: 3px solid white;
    border-radius: 15%;
    color: white;
    background-color: #15458b;
    /*background-color: rgb(2, 222, 222);*/
}

.container_letras li:hover {
    background-color: darkblue;
    color: white;
    .li_img {
        visibility: visible;
    }
}

.container_letras li ul {
    height: 0px;
}

.container_letras li ul li {
    left: -1rem;
    border: none;
}

.li_img {
    top: 100px;
    z-index: 1;
    visibility: hidden;
    width: auto;
    height: auto;
}

.site-footer {
    max-width: 99vw;
    margin-top: 15rem;
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
}